div.container h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    font-weight: bolder;
    color: #f8f8f8;
    margin: -5px 100px 0px -300px;
}

div.information-container {
    border-radius: 7px;
    background: #242222;
    width: 95%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 3.5%;
    display: flex;
    flex-direction: column;
}

div.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
    color: #f8f8f8;
    margin: 10px 0px 0px 10px;
}

div.information {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw; 
    font-weight: lighter;
    color: #6A6A6A;
    margin: 15px 20px; 
}

div.page-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #f8f8f8;
    margin: 14% 0px 0px 30%;
}

.custom-button {
    position: relative;
    margin: 5% 0px 0px 10%;
    width: 35%;
    height: 445px; 
    background-color: #1C1B1B;
    border: none;
    border-radius: 7px;
    overflow: hidden;
}

.custom-button img {
    margin: -50% 0px 0px 0px;
    width: 213px;
    height: 213px;
}

.custom-button span {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: bolder;
    color: #f8f8f8;
}

.custom-button h6 {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    font-weight: lighter;
    color: #6A6A6A;
}

