body {
    background-color: #1E1E1E !important;
}

div.rcorners1 {
    border-radius: 25px;
    background: #3D3939;
    padding: 20px;
    width: 371px;
    height: 416px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

div.rcorners1 h1 {
    text-align: center;
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2vw;
    margin-top: -1px;
}

div.rcorners1 h2 {
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.9vw;
    margin-top: 5px;
    display: inline; 
    overflow: hidden;
}

div.rcorners1 a {
    color: #2081C8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.9vw;
}

div.rcorners1 input[type=submit] {
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    margin: 15px 0;
    padding: 10px 20px;
    width: 100%;
}

div.rcorners1 p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1;
    font-size: 0.5vw;
}

div.rcorners1 input[type=submit]:hover {
    background-color: #202020;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
}

.placeholder-style::placeholder {
    color: rgba(255, 255, 255, 0.8);
}