body {
    background-color: #1E1E1E;
}

div.rcorners1 {
    border-radius: 25px;
    background: #3D3939;
    padding: 20px;
    width: 505px;
    height: 390px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

div.rcorners1 h1 {
    text-align: center;
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2vw;
    margin-top: -1px;
}

div.rcorners1 input[type=submit] {
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    margin: 15px 0;
    padding: 10px 20px;
    width: 100%;
}

div.rcorners1 input[type=submit]:hover {
    background-color: #202020;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
}