<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Game - Pong</title>
    <style>
        canvas{
            border:2px solid;
			display: block;
              margin: 0 auto;
            background-color: #303030;
        }
    </style>
</head>

<body>

		<canvas id="pongCanvas" width="800" height="400"></canvas>

        <script src="{% static 'js/pong.js' %}"> 
            
        </script>
</body>

</html>