<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/game.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <title>Game - Pong</title>
    </head>
    <body>
        <div class="mx-5 mt-3">
            <h4 class="title text-white">PINGPONG</h4>
        </div>
        <div id="start-container" class="text-center mt-3">
            <button id="start-button" onclick="startGame()">Start Game</button>
        </div>
        <canvas id="pongCanvas" width="800" height="400"></canvas>
        <div id="score-container">
            <div id="player1-score">0</div>
            <div id="player2-score">0</div>
        </div>
        <script>
            const username = "{{ user.get_username }}";

            function startGame() {
                // FAIRE UNE FONCTION QUI LANCE LE JEU 
                //      LORSQUE L'ON CLIQUE SUR LE BOUTON
                // LE FAIRE AUSSI SUR L'IA
            }

            function endGame() {
            if (player1Score === 5) {
                fetch('{% url 'update_score' %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        console.log('Score updated successfully!');
                        setTimeout(() => {
                            window.location.href = '{% url 'gamepage' %}';
                        }, 2000);
                    } else {
                        console.error('Failed to update score!');
                    }
                }).catch(error => {
                    console.error('Error updating score:', error);
                });

                drawText(username + " wins !", 350, 250, 'red');
            } else {
                fetch('{% url 'update_loss' %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        console.log('Score updated successfully!');
                        setTimeout(() => {
                            window.location.href = '{% url 'gamepage' %}';
                        }, 2000);
                    } else {
                        console.error('Failed to update score!');
                    }
                }).catch(error => {
                    console.error('Error updating score:', error);
                });

                drawText("Player 2 wins !", 350, 250, 'red');
            }
        }
        </script>
        <script src="{% static 'js/pong.js' %}"> </script>
    </body>
</html>