<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/game.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <title>Game - Pong</title>
    </head>
    <body>
        <div class="mx-5 mt-3">
            <h4 class="title text-white">PINGPONG</h4>
        </div>
        <div id="countdown" class="text-center text-white mt-3"></div>
        
        <canvas id="pongCanvas" width="800" height="400"></canvas>
        <div id="score-container">
            <div id="player1-score">0</div>
            <div id="player2-score">0</div>
        </div>
        <script>
            const username = "{{ user.get_username }}";
            const userId = "{{ user.id }}";
            const gameUrl = "{% url 'game' %}";
            const gameiaUrl = "{% url 'gameia' %}";
            const gamepageUrl = "{% url 'gamepage' %}";
            const csrfToken = "{{ csrf_token }}";
            const updateScoreUrl = "{% url 'update_score' %}";
            const updateLoseUrl = "{% url 'update_loss' %}";
        </script>
        <script src="{% static 'js/endGame.js' %}"> </script>
        <script src="{% static 'js/pong.js' %}"> </script>
    </body>
</html>