<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Transcendence</title>
</head>
<body>
    <div class="container">
        <h4 class="title">PINGPONG</h4>
        <div class="information-container">
            <div class="title">🎮 Comment jouer ?</div>
            <div class="information">Vous êtes actuellement sur la page de Jeu, ci-dessous vous pouvez choisir à quelle mode de jeu vous désirez jouer. Si vous voulez créer un Tournois ou en rejoindre un, dirigez-vous dans la catégorie Tournois.</div>
        </div>
        <div class="page-container">
            <h1>Choisissez votre mode de jeu</h1>
            <button class="custom-button" onclick="launchGame('{% url 'game' %}', '/game')">
                <img src="{% static 'images/local.png' %}" alt="Local game">
                <span>Local</span>
                <h6>Jouez contre votre ami sur le même clavier !</h6>
            </button>
            <button class="custom-button" onclick="launchGame('{% url 'gameia' %}', '/game/ia')">
                <img src="{% static 'images/ia.png' %}" alt="Online game">
                <span>IA</span>
                <h6>Défiez-vous en jouant contre une IA de différents niveaux !</h6>
            </button>
        </div>        
    </div>
</body>
<script>
    function launchGame(url, redirectUrl) {
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        }).then(response => {
            if (response.ok) {
                console.log('Match launched successfully!');
                window.location.href = redirectUrl;
            } else {
                console.error('Failed to launch match!');
            }
        }).catch(error => {
            console.error('Error launching match:', error);
        });
    }
</script>
</html>