<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
        <link rel="stylesheet" href="{% static 'css/register.css' %}"></link>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <title>Transcendence - Register</title>
    </head>
    <body>
        <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="rcorners1" style="margin: 10px;">
                <h1 style="text-align: center;">Création de compte</h1>
                <form name="registerForm" id="registerForm" method="post" onsubmit="return validateForm()" style="resize: none;">
                    {% csrf_token %}
                    <div style="margin-bottom: 25px;">
                        {{ form.username }}
                    </div>
                    <div style="margin-bottom: 25px;">
                        {{ form.password1 }}
                    </div>
                    <div style="margin-bottom: 25px;">
                        {{ form.password2 }}
                    </div>
                    <input type="submit" value="Créer" class="button" style="margin-top: 10px;">
                </form>
                <p id="errorMessage" style="display: none; color: red; text-align: center;"></p>
            </div>
        </div>
    </body>
</html>

