<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Transcendence</title>
</head>
<body>
    <div class="container">
        <h4 class="title">PINGPONG</h4>
        <form name="UpdateUserNameForm" id="UpdateUserNameForm" method="post" style="resize: none;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="username-container">
                <div class="title">Nom d’utilisateur</div>
                <div class="information">Modifiez mon nom d’utilisateur</div>
                {{ form.username }}
                <input type="submit" value="Changer mon nom" class="button">
            </div>
            <div class="password-container">
                <div class="title">Mot de passe</div>
                <div class="information">Modifiez mon mot de passe</div>
                <!-- FORM -->
                <input type="submit" value="Changer mon mot de passe" class="button">
            </div>
            <div class="picture-container">
                <div class="title">Photo de profil</div>
                <div class="information">Modifiez ma photo de profil</div>
                <img id="profile-image-preview" src="{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% else %}/path/to/default/profile/image{% endif %}" alt="profile picture" class="profile-picture">
                <div class="custom-file mb-3">
                    {{ picture_form.profile_image }}
                    <label class="custom-file-label" for="profile-image-input">Choisir un fichier</label>
                </div>
                <input type="submit" value="Changer ma photo de profil" class="button">
            </div>
        </form>
    </div>    
</body>
<script>
    document.getElementById('profile-image-input').addEventListener('change', function(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var dataURL = reader.result;
            var output = document.getElementById('profile-image-preview');
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    });
</script>
</html>