<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/tournaments_overview.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <title>Transcendence</title>
    </head>
    <body class="w-100">

        <div class="mx-5 mt-3">
        <h4 class="text-white">PINGPONG</h4>

        {% for tournaments in tournaments %}
            <div class="information-container p-3 mt-2 text-white">
                <p class="fw-light fs-4 mb-2">Tournois de <span class="fw-bold">{{ tournaments.owner_name }}</span></p>
                <p class="fw-medium fs-6">Ici vous pouvez voir les matchs du tournois et les joueurs inscrits</p>
            </div>
            <div class="overview row mt-3">
                <div class="col-md-2" id="players">
                    
                    <div class="players-container mt-2 p-2">
                        <div class="information-container mt-3 text-white">
                            <p class="text-center fw-bold fs-5 mbt-1">Liste des Joueurs</p>
                        </div>
                        {% for username in tournaments.username_virtual_player %}
                        <div class="information-container mt-3 text-white">
                            <div class="user-card mx-3 d-flex align-items-center">
                                <!-- <img src="{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% endif %}" alt="user" class="profile-picture rounded-circle me-3" style="width: 34px; height: 34px;"> -->
                                <p class="fw-light fs-5 mb-0">- <span class="fw-bold">{{ username }}</span></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-10" id="rounds">
                    <div class="rounds-container mt-2 p-2">
                        <div class="information-container mt-3 text-white">
                            <p class="text-center fw-bold fs-5 mbt-1 ">Liste des matchs du round</p>
                        </div>
                
                        <div class="row mt-2 fs-5 fw-medium">
                            {% for id in matchs_list %}
                            <div class="col-4 col-md-3">
                                <div class="info-box mb-5">
                                    <div class="mb-2">
                                        {% if id.player1 == id.winner %}
                                        <p class="fw-bold fs-5 mbt-1 text-success text-center">{{ id.player1 }}</p>
                                        <p class="fw-bold fs-5 mbt-1 text-danger text-center">{{ id.player2 }}</p>
                                        {% elif id.player2 == id.winner %}
                                        <p class="fw-bold fs-5 mbt-1 text-danger text-center">{{ id.player1 }}</p>
                                        <p class="fw-bold fs-5 mbt-1 text-success text-center">{{ id.player2 }}</p>
                                        {% else %}    
                                        <p class="fw-bold fs-5 mbt-1 text-white text-center">{{ id.player1 }}</p>
                                        <p class="fw-bold fs-5 mbt-1 text-white text-center">{{ id.player2 }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
                {% if tournaments.state is False %}
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn btn-success btn-custom " id="create-tournament" data-bs-toggle="modal" data-bs-target="#game">Lancer le prochain match</button>
                </div>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="game" tabindex="-1" aria-labelledby="tournamentsModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-darker">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="tournamentsModalLabel">Prochain match</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <p class="text-white text-center"></p>
                                <div class="d-flex justify-content-center">
                                    {% with isBreak=0 %}
                                        {% for id in match_list %}
                                            {% if id.winner == "..." and isBreak == 0 %}
                                                <div class="info-box mb-5">
                                                    <p class="fw-bold fs-5 mbt-1 text-white text-center">{{ id.player1 }}</p>
                                                    <p class="fw-bold fs-5 mbt-1 text-white text-center">{{ id.player2 }}</p>
                                                </div>
                                                {{ isBreak|add:"1" }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                    <button type="button" class="btn btn-success mt-2" onclick="AddPlayer()">Lancer le match</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </body>
</html>