<!DOCTYPE html>
{% load static %}
{% include "./base/navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Transcendence</title>
</head>
<body>
    <div class="container">
        <h4 class="title">PINGPONGHUB</h4>
        <div class="information-container">
            <div class="title">👋 Bienvenue, {{ user.get_username }} !</div>
            <div class="information">Vous, êtes actuellement sur la page d’accueil, Si vous souhaitez jouer à un super jeu. Vous pouvez cliquer sur la catégorie “Jeu” Dans la barre de navigation ci-dessus</div>
        </div>
    </div>
</body>
</html>